@font-face {
    font-family: 'MiFuente';
    src: url('recursos/mido_igual.ttf') format('truetype');
    /* Puedes agregar más formatos para mayor compatibilidad */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(17, 8, 44);
    font-family: 'MiFuente', sans-serif;
    font-size: 16px;
}

/*--------------Navegacion--------------*/

header{
    display: flex;
    padding: 4px;
    margin: 4px;
    min-height: 10vh;
}

nav{
    margin: 10px auto;
    display: flex;
}

.lista_navegacion{
    display: flex;
    align-items: center;
    background-color: rgb(38, 46, 53);
    border-radius: 20px;
}

.lista_navegacion li{
    margin: 5px 30px 5px;
    color: white;
    padding: 5px 8px;
    font-size: 15px;
    transition: color 0.2s ease-out;
    background-color: transparent;
}

.lista_navegacion li:hover{
    color: rgb(23, 211, 211);
    cursor: pointer;
}

/*--------------CONTENIDO PRINCIPAL--------------*/

main{
    margin: 11px;
}

article{
    margin: 0 auto;
    min-height: 80vh;
    padding: 20px 10px;
    max-width: 80%;
}

p{
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
}

/*--------------INICIO--------------*/

.contenido_inicio{
    display: none;
    align-items: center;
}

.texto{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 60%;
    margin: 2%;
}

.texto p{
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 10px 0;
    padding: 10px 1px;
}

.link{
    display: flex;
    align-items: center;
}

.link img{
    margin: 15px 0;
    margin-right: 2em;
    border-radius: 2px;
}
.github img{
    border-radius: 100%;
    width: 45px;
}

.link img:hover{
    box-shadow: 0px 0px 25px rgb(23, 211, 211);
}

.animacion{
    display: flex;
    align-items: center;
    max-width: 40%;
    min-height: 100%;
    margin: 0 5%;
    padding: 5px;
    justify-content: start;
}

.barra{
    display: flex;
    color: rgb(23, 211, 211);
}

.animacion h3{
    color: white;
}

.animacion p{
    display: none;
    font-size: 60px;
    font-weight: 900;
    background-color: transparent;
}

h1{
    font-size: 30px;
    color: rgb(23, 211, 211);
    padding: 10px 0;
    max-width: 100%;
}

/*--------------ABOUT--------------*/

.contenido_about{
    display: none;
    align-items: center;
}

.informacion{
    display: flex;
    flex-direction: column;
}

.sobremi{
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sobremi .texto_sobremi{
    margin: 15px;
    background-color: transparent;
}

.titulo{
    font-family: 'MiFuente', sans-serif;
    color: rgb(23, 211, 211);
    font-size: 20px;
    margin: 10px;
}

.sobremi img{
    margin: 0 auto;
    padding: 10px;
    max-width: 30%;
    background-color: transparent;
}

.texto_sobremi .contenido{
    margin: 3% auto;
    font-size: 0.8rem;
    max-width: 55%;
}

.contenido p{
    margin: 3%;
}

.caja_texto_imagen{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.lenguajes{
    margin: 15px;
}

.habilidades{
    display: flex;
    align-items: center;
}

.habilidades p{
    margin: 10px;
}

.list_programacion{
    display: flex;
    margin: 4% auto;
    max-height: 10%;
}

.list_programacion li{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px auto;
    background-color: transparent;
    max-width: 5%;
}

.list_programacion img{
    background-color: transparent;
    width: 100%;
    align-self: center;
    padding: 5px;
}


/*--------------PROYECTO--------------*/

.contenido_proyecto{
    display: flex;
}

.caja_proyecto{
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.lista_proyectos{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5%;
    gap: 10%;
    margin: 2% auto;
    max-width: 90%;
}

.proyecto h3{
    font-family: 'Courier New', Courier, monospace;
    margin: 1%;
    background-color: transparent;
    font-size: 1.3em;
}

.proyecto{
    background-color: tomato;
    border-radius: 15px;
    padding: 2vh;
}

/*--------------CONTACTO--------------*/

.contenido_contacto{
    display: none;
}

/*--------------FOOTER--------------*/

footer{
    margin: 15px auto;
    max-width: 70%;
    min-height: 10vh;
    border-top: solid 1px rgb(23, 211, 211); /*Momentaneo*/
}


/*--------------OTROS--------------*/
::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(23, 211, 211); /* Color del thumb */
    border-radius: 5px; /* Bordes redondeados */
}
